h1 {
    color: orangered;
    border: 1px solid black;
    font-style: italic;
    text-align: center;
}
html {
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}
div {
    border: 1px solid black;
}
#main{
    margin: 20px 0 0;
    padding: 0 40px 40px;
}
body {
    font-family: "Roboto Light";
}
h1, h3, p {
    margin-top: 0;
}
h4 {
    font-style: italic;
    border: 1px;
}
.text-center {
    text-align: center;
}